/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: auto;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
  font-family: 'Raleway', sans-serif;

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
  font-family: 'Open Sans', sans-serif;

  .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(307, 72%, 54%); }

body {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    font-size: 0.95em;
    padding: 0.5em 5vw;
}

header > nav {
    display: flex;
    gap: 2em;
}

header > nav > a {
    text-decoration: none;
    color: hsl(238, 22%, 44%);
}

header > div > img {
    width: 8em;
}

h1, h2 {
    font-family: 'Raleway', sans-serif;
    color: hsl(243, 87%, 12%);
}

main {
    display: flex;
    flex-direction: column;
}

.first {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
    align-items: center;
    padding: 2em 1.5em;
    padding-bottom: 6em;
}

.first > div > img {
    width: 80vw;
    padding-top: 5em;
}

.first > div > h1 {
    font-size: 2em;
    color: hsl(243, 87%, 12%);
}

.first > div > p {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: hsl(243, 87%, 12%);
    padding-bottom: 1.5em;
}

.first > div > form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.first > div > form > input:invalid {
    border: 0.5px solid rgb(253, 39, 75);
}

.third > form > input:invalid {
    border: 0.5px solid rgb(253, 39, 75);
}

.first > div > form > input {
    width: 27em;
    padding: 0.7em 1.5em;
    outline: none;
    border: 2px solid hsl(238, 22%, 44%);
    border-radius: 3px;
}

.first > div > form > input::placeholder{
    color: hsl(0, 0%, 75%);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
}

.first > div > form > button {
    padding: 0.8em;
    width: 30em;
    background: hsl(224, 93%, 58%);
    color: white;
    border: none;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    transition: background 0.4s ease;
}

.first > div > form > button:hover {
    background: hsl(224, 76%, 65%);
}

.second-fr > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: hsl(240, 75%, 98%);
    margin: 0;
    margin-top: -1.2em;
    gap: 1em;
    padding: 0 1.5em;
    padding-bottom: 7em;
}

.bg {
    height: 5em;
    background-image: url(images/bg-curve-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.second-fr > div > img {
    padding: 4em 0;
    width: 80vw;
}

.second-fr > div > h2 {
    font-size: 1.5em;
    font-weight: 700;
}

.second-fr > div > p {
    font-size: 1em;
    color: hsl(243, 87%, 12%);
}

.arrow-part {
    display: flex;
    align-items: center;
    gap: 0.3em;
    font-size: 0.9em;
    border-bottom: 2px 
    solid hsl(170, 45%, 43%);
    padding-bottom: 0.1em;
    text-decoration: none;
    margin-bottom: 1em;
    transition: all 0.4s ease;
}

.arrow-part:hover {
    border-bottom: 2px solid hsl(190, 65%, 63%);
}

.arrow-part p {
    font-size: 1em;
    color: hsl(170, 45%, 43%);
    transition: color 0.4s ease;
}

.arrow-part p:hover {
    color: hsl(190, 65%, 63%);
}

.arrow-part > img {
    height: 1.5em;
    width: 1.5em;
}

.comment {
    display: flex;
    flex-direction: column;
    background: white;
    width: 80%;
    padding: 1.5em;
    gap: 0.7em;
    border-radius: 5px;
}

.comment > img {
    width: 1em;
}

.comment > p {
    font-size: 0.87em;
    line-height: 25px;
}

.deets {
    display: flex;
    gap: 1em;
}

.deets > img {
    width: 1.8em;
    height: 1.8em;
     border-radius: 50%;
}

.deets p {
    font-size: 0.8em;
    font-weight: 700;
}

.deets p+p {
    font-size: 0.7em;
    font-weight: 400;
}

.third {
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: white;
    align-items: center;
    padding: 5em 3em;
    background: hsl(238, 22%, 44%);
    text-align: center;
}

.half {
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: white;
    align-items: center;
}

.third > div > h2 {
    color: white;
}

.third > form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.third > form > input {
    width: 20em;
    padding: 0.5em;
    border-radius: 3px;
    outline: none;
    border: none;
}

.third > form > input::placeholder {
    font-size: 0.9em;
    color: hsl(0, 0%, 75%);
}

.third > form > button {
    width: 25em;
    padding: 0.7em;
    font-size: 0.8em;
    background: hsl(224, 93%, 58%);
    color: white;
    border: none;
    border-radius: 3px;
    transition: background 0.4s ease;
}

.third > form > button:hover {
    background: hsl(224, 76%, 65%);
}

.fourth {
    background: hsl(243, 87%, 12%);
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 0.5em 2em;
    padding-top: 4em;
    padding-bottom: 2em;
}

.fourth > div {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

ul {
    list-style: none;
    padding: 0;
}

address > a {
    color: hsl(240, 75%, 98%);
    font-style: normal;
    text-decoration: none;
}

address {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

address > a:first-child::before{
    content: url(images/icon-phone.svg);
    margin-right: 1em;
}

address > a:last-child::before {
    content: url(images/icon-email.svg);
    margin-right: 1em;
}

li {
    padding: 0.5em 0;
}

li > a {
    color: hsl(240, 75%, 98%);
    text-decoration: none;
    transition: color 0.4s ease;
}

li > a:hover {
    color: hsl(224, 93%, 58%);
}

.fourth > .foot {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.foot > div {
    border: 1px solid hsl(240, 75%, 98%);
    padding: 0.2em;
    border-radius: 50%;
    transition: all 0.4s ease;
}

.foot > div:hover {
    border: 1px solid hsl(224, 76%, 65%);
}

.foot > div > a > svg {
    fill: rgb(255, 255, 255);
    transition: all 0.4s ease;
}

.foot > div > a > svg:hover {
    fill: hsl(224, 76%, 65%);
}

footer {
    background: hsl(243, 87%, 12%);;
    color: white;
    text-align: center;
}

@media (min-width: 1000px) {
    header {
        padding-top: 1em;
    }

    header > div > img{
        width: 10em;
    }

    header > nav > a {
        font-size: 1.2em;
    }

    .first {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .image-1 {
        grid-area: 1/2;
        padding: 1em 3em;
    }

    .image-1 > img {
        width: 80%;
    }

    .first > div {
        text-align: left;
    }

    .first > div:last-child {
        padding-left: 2em;
    }

    .first > div > h1 {
        font-size: 2.5em;
        padding-bottom: 0.5em;
    }

    .first div p{
        font-size: 1.4em;
    }

    .first div form {
        flex-direction: row;
    }

    .first div form input {
        width: 55%;
    }

    .first div form button {
        width: 45%;
    }

    .second-fr {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .image-2 {
        grid-area: 1/2;
        padding: 0 3em;
    }

    .image-2 > img {
        width: 80%;
    }

    .bg {
        background-image: url(images/bg-curve-desktop.svg);
        background-size: contain;
        height: 7em;
    }

    .second-fr > div {
        align-items: flex-start;
        padding-top: 4em;
        padding-bottom: 4em;
    } 

    .second-fr > div:last-child {
        padding-left: 3em;
    }

    .second-fr > div > h2 {
        font-size: 2.3em;
    }

    .second-fr > div > p {
        font-size: 1.2em;
    }

    .arrow-part {
        font-size: 1em;
    }

    .comment {
        width: 60%;
    }

    .third {
        display: grid;
        text-align: left;
        grid-template-columns: 50% 50%;
    }
    .half {
        align-items: flex-start;
    }

    .third > form {
        align-items: flex-end;
        display: flex;
    }

    .third > form > input {
        width: 30em;
        padding: 0.7em;
    }

    .third > form > button {
        align-self: center;
        margin-left: -1.5em;
        width: 50%;
        padding: 1em;
    }

    .fourth {
        display: flex;
        flex-direction: row;
        gap: 10em;
        padding-left: 3em;
    }

    .fourth > ul {
        padding-top: 5em;
    }

    .fourth > .foot {
        flex-direction: row;
    }
}